@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sacondColor:#FFDE00;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: url('../public/assets/body-bg.png');
  background-repeat: repeat-y;
  background-color: #e7e7e7;
  color: var(--background);
cursor: url("/assets/Asset 2.svg") 2 2, auto;
  font-family: var(--Main-Font),sans-serif;
}


a, button, [role="button"], [role="link"] {
  cursor: url("/assets/link.png") 10 5, pointer !important;
}


.cursor-pointer {
  cursor: url("/assets/link.png") 10 5, pointer !important;
}


.saconderybg{
  background-color:var(--sacondColor);
}

